@charset "UTF-8";

body {
    margin: 0;
    background: linear-gradient(to top, #006eff, #a2ffa7);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #a2ffa7;
}

p {
    text-align: center;
}
